<p>update works!</p>
<h1>Update</h1>
<form [formGroup]="bookForm" (ngSubmit) =update()>
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="title" ></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><textarea type="text" style="width: 250px;height: 200px" formControlName="description"></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Update</button></td>
    </tr>
  </table>
</form>
